body{
	background-color: #f6f6fa;
}
.container-more{
	
}
.nav-more{
	background-color: white;
	padding-left: 4%;
	padding-right: 7%;
}
#user{
	text-indent: 12%;
}
.drop-more{
	margin-left:-40% !important;
}
#open-ico{
	color: #0a1d28!important;

}
.menu{
	background-color: #0a1d28!important;
	color: white;
}
.menu a{
	color: white;
}
.ico{
	margin-right: 5%;
}
.large{
	width: 100%;
	background-color: #0a1d28;
	height: 50px;
}
.sublarge{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.add{
	background-color: #0a1d28;
	width: 20%;
	color: white;
	outline: none;
}
.add:hover{
	color: white !important;
	background-color: #1e2f39!important;
}
.add:focus{
	outline: none !important;
	box-shadow: none;
}
.add2one{
	margin-top: 0.5%;
	height: 70%;
	margin-left: 10% !important;
	width: 10%;
	margin-right: 7%;

}
.add2{
	margin-top: 0.5%;
	height: 70%;
	width: 10%;
	margin-right: 5%;
}
#student-open{
	/*visibility: hidden;*/
	display: block;
	margin-left: 4%;
	margin-top: 2%;
}
#examiner-open{
	/*visibility: hidden;*/
	display: block;
	margin-left: 4%;
	margin-top: 2%;
}

.openBody{
	margin-top: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	justify-content: flex-start;

}
.openBody :hover {
	cursor: pointer;
	background-color: #1e2f39;
	color: white; 
}

.notifypend{
	margin-top:-2%;
	float: right;
	background-color: red;
	font-size: medium;
	font-weight: bolder;
	border-radius: 45%;
	/*display: none;*/
}
.notifymark{
	margin-top:-2%;
	float: right;
	background-color: green;
	margin-right: 2%!important;
	font-size: medium;
	font-weight: bolder;
	border-radius: 45%;
	/*display: none;*/

}
.col{
	padding-bottom: 1%;
	margin-right: 8%;
	/*width: 40%;*/
	margin-bottom: 60px;
	flex-basis: 270px;
	max-width: 25%;
	background-color: white;
	border-radius: 5%;
}
/*.col :hover{
	cursor: pointer;
	border: 2px solid #0a1d28; 
}*/
.nameno{
	margin-right: 8%;
	float: right;

}
.level{
	

}
.others{
	margin-top: 10%;
	display: flex;
	justify-content: space-around;
}
.account{
	position: fixed;
	top: 0%;
	left:0%;
	background-color: transparent;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 5;

}
.popUp{
	position: fixed;
	top: 25%;
	left:37%;
	width: 30%;
	background-color: #c0c0c0;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 1%;
	border-radius: 5%;
	font-size: 10px!important;
}
#close{
	float: right;
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: bolder;

}
.shift{
	margin-left: 9%;
	padding-left:15%;
	padding-right: 15%;
	background-color:#0a1d28;
	font-size: 20px!important;
}
.shifth4{
	margin-left: 32%;
}
.shifth3{
	margin-left:10%;

}
/*label{
	font-size: 12px;
}*/
.popUp2{
	position: fixed;
	top: 3%;
	left:33%;
	width: 40%;
	background-color: #c0c0c0;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 3%;
	padding-right: 1%;
	border-radius: 5%;
}
.popalign{
	font-size: 15px !important;
	padding-right: 20%;
}
.shifthead{
	text-align: center;
}
.createBtn{
	margin-left: 50%;
	background-color: #0a1d28!important;
	color: white;
}
.createBtn:hover{
	background-color: #1e2f39!important;
	color: white;
}
.genBtn{
	background-color: black;
	color: white;
}
.popalign select{
	width: 100%;
}

/*studentAssessment.php*/
.details{
	margin-left: 4%;
	margin-top: 2%;
}
.data{
	display: flex;
	background-color: white;
	border-radius: 2%;
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 5%;
	width: 98%;
	justify-content: space-between;
}
.studentinfo{
	margin-right: 10%;
}
.viewBtn{
	margin-left: 80%;
	background-color: #0a1d28!important;
	color: white;
	width: 150%;
}
.viewBtn:hover{
	background-color: #1e2f39!important;
	color: white;
}
.assignBtn{
	flex-basis: 270px;
	max-width: 25%;
	background-color: #0a1d28!important;
	color: white;
	float: right;
	margin-left: 30%;
}
.assignBtn:hover {
	background-color: #1e2f39!important;
	color: white;
}
.studentinfo2first{
	font-size: 15px;
	margin-left: 15%;
}
.studentinfo2{
	font-size: 15px;
	margin-left: 3%;
}
.popalign2{
	font-size: 15px !important;
	padding-right: 15%;
}
.assignformBtn{
	margin-left: 40%;
	background-color: #0a1d28!important;
	color: white;
}
.assignformBtn:hover{
	background-color: #1e2f39!important;
	color: white;
}